<main>
    <div>
        <header>
            <h1><%= meta.title %></h1>
        </header>
        <%- content %>

        <ul class="cards-list">
            <% helper.subArticles().forEach(doc => {%>
                <project-card href="<%= helper.getLink(doc) %>">
                    <project-title title="<%= doc.meta.title %>" status="<%= JSON.stringify(doc.meta.state) %>"></project-title>

                    <p slot="description"> <%= doc.meta.description %></p>

                </project-card>
                
            <% }) %>
        </ul>
    </div>
</main>