<main>
    <div>
        <header>
            <h1><%= meta.title %></h1>
        </header>
        <%- content %>

        <ul class="cards-list">
            <% pipeline.files.filter((d)=>ArticleHelper.subArticle(d)).forEach(doc => {%>
                <%= doc.meta.state %>
                <project-card>
                    <project-title title="<%= doc.meta.title %>" status="<%= JSON.stringify(doc.meta.state) %>"></project-title>
                </project-card>
                
            <% }) %>
        </ul>
    </div>


</main>