<main>
    <article>
        <header>
            <h1><%= meta.title %></h1>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        <%- content %>
    </article>
    <div class="card">
        <ul class="article-list">
            <!-- Ranges through content/posts/*.md --> 

            <% pipeline.files.filter((d)=>ArticleHelper.subArticle(d)).forEach(doc => {%>
            <li >
                <a href="<%= ArticleHelper.getLink(doc) %>">
                <div class="card card--outline">
                    <h3>
                        <%=doc.meta.title%>
                    </h3>
                    <p>
                        <%= doc.meta.description %>
                    </p>
                </div>
                </a>
            </li>
            <% }) %>
        </ul>
    </div>
</main>